<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amora Geleias</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header class="container_header">
        <a href="home.html"><img class="logo" src="../images/logo transparente.png" alt="logo"></a>
        <div class="header_menu_opcoes">
            <a class="botao_padrao" href="home.html"><b>Home</b></a>
            <a class="botao_padrao" href="produto_classic.html">Classic</a>
            <a href="produto_gourmet.html">Gourmet</a>
            <a href="produto_diet.html">Diet</a>
        </div>
        <div class="header_menu_busca">
            <input type="text" name="pesquisar" placeholder="O que está procurando?">
            <a href=""><img class="header_icones" src="../images/lupa.png" alt="Pesquisar"></a>
            <a href=""><img class="header_icones" src="../images/carrinho-de-compras.png" alt="Carrinho de compras"></a>
        </div>
    </header>
    <main class="container_main">
        <!--Aba mais vendidos-->
        <div class="main_mais_vendidos">
            <p class="main_titulos">Mais vendidos</p>
            <div class="main_card_produto">
                <a href=""><img class="main_images" src="../images/classic_amora.png.png" alt="Imagem de geleia"></a>
                <p>Geleia de Amora Classic</p>
                <a class="main_card_botao" href="venda_produto_amora_classic.html">Ver Produto</a>
            </div>
            <div class="main_card_produto">
                <a href=""><img class="main_images" src="../images/img_diet_goiaba.png" alt="Imagem de geleia"></a>
                <p>Geleia de Goiaba Diet</p>
                <a class="main_card_botao" href="venda_produto_diet_goiaba.html">Ver Produto</a>
            </div>
            <div class="main_card_produto">
                <a href=""><img class="main_images" src="../images/img_gourmet_morango.png" alt="Imagem de geleia"></a>
                <p>Geleia de Morango Gourmet</p>
                <a class="main_card_botao" href="venda_produto_gourmet_morango.html">Ver Produto</a>
            </div>
        </div>

        <!--Aba Novidades-->
        <div class="main_novidades">
            <p class="main_titulos">Nossos Sabores mais novos</p>
            <div class="main_card_produto">
                <a href=""><img class="main_images" src="../images/img_diet_framboesa.png" alt="Imagem de geleia"></a>
                <p>Geleia de Framboesa diet</p>
                <a class="main_card_botao" href="venda_produto_diet_framboesa.html">Ver Produto</a>
            </div>
            <div class="main_card_produto">
                <a href=""><img class="main_images" src="../images/img_gourmet_maracuja.png" alt="Imagem de geleia"></a>
                <p>Geleia de Maracujá Gourmet</p>
                <a class="main_card_botao" href="venda_produto_gourmet_maracuja.html">Ver Produto</a>
            </div>
            <div class="main_card_produto">
                <a href=""><img class="main_images" src="../images/img_gourmet_pistache.png" alt="Imagem de geleia"></a>
                <p>Geleia de Pistache Gourmet</p>
                <a class="main_card_botao" href="venda_produto_gourmet_pistache.html">Ver Produto</a>
            </div>
        </div>
        
    </main>
    <footer class="container_footer">
        <div class="footer_creditos">
            <h3>© 2026 Amora. Direitos reservados.</h3>
            <br>
            <h4>Desenvolvido por Michele e Gabriel</h4>
        </div>
        <div class="footer_infos">
            <p>Sobre nós</p>
            <a href="sobre.nos.html#historia">Nossa história</a>
            <a href="sobre.nos.html#faq">Perguntas frequentes</a>
            <a href="sobre.nos.html#suporte">Suporte</a>
        </div>
        <div class="footer_infos">
            <p>Nossos contatos</p>
            <a href=""><img class="footer_icones" src="../images/instagram.png" alt=""> @amora</a>
            <a href=""><img class="footer_icones" src="../images/telefone.png" alt=""> 0800 000 0000</a>
            <a href=""><img class="footer_icones" src="../images/e-mail.png" alt=""> contato@amora.com</a>
        </div>
    </footer>
</body>
</html>