<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amora Geleias - Classic</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body class="produto_classic">
    <header class="container_header">
        <a href="home.html"><img class="logo" src="../images/logo transparente.png" alt="logo"></a>
        <div class="header_menu_opcoes">
            <a href="home.html">Home</a>
            <a href="produto_classic.html"><b>Classic</b></a>
            <a href="produto_gourmet.html">Gourmet</a>
            <a href="produto_diet.html">Diet</a>
        </div>
        <div class="header_menu_busca">
            <input type="text" name="pesquisar" placeholder="O que está procurando?">
            <a href=""><img class="header_icones" src="../images/lupa.png" alt="Pesquisar"></a>
            <a href=""><img class="header_icones" src="../images/carrinho-de-compras.png" alt="Carrinho de compras"></a>
        </div>
    </header>
    <main class="container_main_produto">
        <p class="localizador">Home > classic</p>
        <p class="titulo_produto">Geleias Classic</p>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_amora.png" alt="Imagem de geleia"></a>
            <p>Geleia de Amora Classic</p>
            <a class="main_card_botao" href="venda_produto_amora_classic.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_jabuticaba.png" alt="Imagem de geleia"></a>
            <p>Geleia de Jabuticaba Classic</p>
            <a class="main_card_botao" href="venda_produto_classic_jabuticaba.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_uva.png" alt="Imagem de geleia"></a>
            <p>Geleia de Uva Classic</p>
            <a class="main_card_botao" href="venda_produto_classic_uva.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_framboesa.png" alt="Imagem de geleia"></a>
            <p>Geleia de Framboesa Classic</p>
            <a class="main_card_botao" href="venda_produto_classic_framboesa.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_morango.png" alt="Imagem de geleia"></a>
            <p>Geleia de Morango Classic</p>
            <a class="main_card_botao" href="venda_produto_classic_morango.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_maracuja.png" alt="Imagem de geleia"></a>
            <p>Geleia de Maracuja Classic</p>
            <a class="main_card_botao" href="venda_produto_classic_maracuja.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_melancia.png" alt="Imagem de geleia"></a>
            <p>Geleia de Melancia Classic</p>
            <a class="main_card_botao" href="venda_produto_classic_melancia.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_pistache.png" alt="Imagem de geleia"></a>
            <p>Geleia de Pistache Classic</p>
            <a class="main_card_botao" href="venda_produto_classic_pistache.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_classic_goiaba.png" alt="Imagem de geleia"></a>
            <p>Geleia de Goiaba Classic</p>
            <a class="main_card_botao" href="venda_produto_classic_goiaba.html">Ver Produto</a>
        </div>
    </main>
    <footer class="container_footer">
        <div class="footer_creditos">
            <h3>© 2026 Amora. Direitos reservados.</h3>
            <br>
            <h4>Desenvolvido por Michele e Gabriel</h4>
        </div>
        <div class="footer_infos">
            <p>Sobre nós</p>
            <a href="sobre.nos.html#historia">Nossa história</a>
            <a href="sobre.nos.html#faq">Perguntas frequentes</a>
            <a href="sobre.nos.html#suporte">Suporte</a>
        </div>
        <div class="footer_infos">
            <p>Nossos contatos</p>
            <a href=""><img class="footer_icones" src="../images/instagram.png" alt=""> @amora</a>
            <a href=""><img class="footer_icones" src="../images/telefone.png" alt=""> 0800 000 0000</a>
            <a href=""><img class="footer_icones" src="../images/e-mail.png" alt=""> contato@amora.com</a>
        </div>
    </footer>
</body>
</html>