<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amora Geleias - Diet</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body class="produto_diet">
    <header class="container_header">
        <a href="home.html"><img class="logo" src="../images/logo transparente.png" alt="logo"></a>
        <div class="header_menu_opcoes">
            <a href="home.html">Home</a>
            <a href="produto_classic.html">Classic</a>
            <a href="produto_gourmet.html">Gourmet</a>
            <a href="produto_diet.html"><b>Diet</b></a>
        </div>
        <div class="header_menu_busca">
            <input type="text" name="pesquisar" placeholder="O que está procurando?">
            <a href=""><img class="header_icones" src="../images/lupa.png" alt="Pesquisar"></a>
            <a href=""><img class="header_icones" src="../images/carrinho-de-compras.png" alt="Carrinho de compras"></a>
        </div>
    </header>
    <main class="container_main_produto">
        <p class="localizador">Home > Diet</p>
        <p class="titulo_produto">Geleias Diet</p>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_framboesa.png" alt="Imagem de geleia"></a>
            <p>Geleia de Framboesa Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_framboesa.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_goiaba.png" alt="Imagem de geleia"></a>
            <p>Geleia de Goiaba Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_goiaba.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_melancia.png" alt="Imagem de geleia"></a>
            <p>Geleia de Melancia Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_melancia.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_uva.png" alt="Imagem de geleia"></a>
            <p>Geleia de Uva Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_uva.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_amora (1).png" alt="Imagem de geleia"></a>
            <p>Geleia de Amora Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_amora.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_morango (4).png" alt="Imagem de geleia"></a>
            <p>Geleia de Morango Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_morango.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_pistache.png" alt="Imagem de geleia"></a>
            <p>Geleia de Pistache Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_pistache.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_maracuja.png" alt="Imagem de geleia"></a>
            <p>Geleia Maracujá Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_maracuja.html">Ver Produto</a>
        </div>
        <div class="main_card_produto">
            <a href=""><img class="main_images" src="../images/img_diet_jabuticaba.png" alt="Imagem de geleia"></a>
            <p>Geleia de Jabuticaba Diet</p>
            <a class="main_card_botao" href="venda_produto_diet_jabuticaba.html">Ver Produto</a>
        </div>
    </main>
    <footer class="container_footer">
        <div class="footer_creditos">
            <h3>© 2026 Amora. Direitos reservados.</h3>
            <br>
            <h4>Desenvolvido por Michele e Gabriel</h4>
        </div>
        <div class="footer_infos">
            <p>Sobre nós</p>
            <a href="sobre.nos.html#historia">Nossa história</a>
            <a href="sobre.nos.html#faq">Perguntas frequentes</a>
            <a href="sobre.nos.html#suporte">Suporte</a>
        </div>
        <div class="footer_infos">
            <p>Nossos contatos</p>
            <a href=""><img class="footer_icones" src="../images/instagram.png" alt=""> @amora</a>
            <a href=""><img class="footer_icones" src="../images/telefone.png" alt=""> 0800 000 0000</a>
            <a href=""><img class="footer_icones" src="../images/e-mail.png" alt=""> contato@amora.com</a>
        </div>
    </footer>
</body>
</html>