<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós Amora</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body class="nossa_historia">
     <header class="container_header">
        <a href="home.html"><img class="logo" src="../images/logo transparente.png" alt="logo"></a>
        <div class="header_menu_opcoes">
            <a class="botao_padrao" href="home.html">Home</a>
            <a class="botao_padrao" href="produto_classic.html">Classic</a>
            <a href="produto_gourmet.html">Gourmet</a>
            <a href="produto_diet.html">Diet</a>
        </div>
        <div class="header_menu_busca">
            <input type="text" name="pesquisar" placeholder="O que está procurando?">
            <a href=""><img class="header_icones" src="../images/lupa.png" alt="Pesquisar"></a>
            <a href=""><img class="header_icones" src="../images/carrinho-de-compras.png" alt="Carrinho de compras"></a>
        </div>
    </header>
    <main class="container_sobre_nos" >
        <div class="sobre_nos_nossa_historia" id="historia">      
            <h2>Nossa Historia </h2>
            <h3>Desde 2010, do Fogão de Casa para a sua Mesa</h3>
            <p>A <b>Amora Geleias Artesanais</b> não nasceu em uma fábrica, mas no calor das cozinhas de nossas mães. Em <b>Lauro de Freitas</b>, na Região Metropolitana de Salvador, acompanhamos de perto a dedicação e o carinho com que elas transformavam frutas frescas em potes cheios de afeto.</p>
            <p>O que começou como uma tradição familiar cresceu, mas não perdeu a essência. Hoje, assumimos esse legado com o orgulho de ser uma empresa baiana, feita de raiz e história. Nossa missão é levar até a sua mesa o sabor genuíno da Bahia, preservando o cuidado artesanal que aprendemos em casa e o amor que só uma receita de mãe possui.</p>
            <img class="imagem_nossa_producao" src="../images/logo-sobre-nos.png" alt="Nossa produção">
        </div>
       <!--curiosidades-->
        <section class="sobre_nos_perguntas_frequentes" id="faq">
            <h2>Perguntas Frequentes</h2>
            <div>
                <details class="c_itens">
                    <summary>Por que Amora? A Origem do Nosso Nome</summary>
                <p>Muitos nos perguntam de onde vem o nome da marca. A resposta está guardada em nossas raízes e no nosso paladar. A amora sempre foi mais do que uma fruta para nós; ela representa a nossa paixão inicial.</p>
                <p>Foi a geleia de amora a primeira a sair de nossas panelas, com sua cor vibrante e o equilíbrio perfeito entre o doce e o cítrico. Ela foi o teste de fogo que nos deu a certeza de que estávamos no caminho certo. Batizar a empresa em homenagem a essa frutinha silvestre é uma forma de nunca esquecermos onde tudo começou e o carinho que dedicamos à nossa primeira criação.</p>
                </details>
                <details class="c_itens">
                    <summary>O Segredo do Ponto:</summary>
                    <p>Sabia que não usamos espessantes artificiais? O brilho e a textura das nossas geleias vêm exclusivamente da pectina natural das frutas e do tempo correto de fervura.</p>
                </details >
                <details class="c_itens">
                    <summary>A Primeira Receita:</summary>
                    <p>Sabia que não usamos espessantes artificiais? O brilho e a textura das nossas geleias vêm exclusivamente da pectina natural das frutas e do tempo correto de fervura.</p>
                </details >                
                <details class="c_itens">
                    <summary>Sustentabilidade no Pote:</summary>
                    <p>Nossos vidros são 100% reutilizáveis e recicláveis. Adoramos saber que nossos clientes usam os potes vazios para guardar temperos, velas ou até pequenos vasos de flores!</p>
                </details >
            </div>
        </section>
        <!--Seção Suporte-->
        <section class="container_suporte" id="suporte">
            <h2>Suporte - Contatos</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Canal</th>
                        <th>Contato</th>
                        <th>Horário</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>WhatsApp</td>
                        <td>(71)9818-25654 </td>
                        <td>Seg à Sex — 8h às 18h </td>
                    </tr>

                    <tr>
                        <td>Instagram</td>
                        <td>@amora</td>
                        <td>Seg à Sáb — 8h às 20h </td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td>contato@amora.com</td>
                        <td>Respondemos em até 24h</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer class="container_footer">
        <div class="footer_creditos">
            <h3>© 2026 Amora. Direitos reservados.</h3>
            <br>
            <h4>Desenvolvido por Michele e Gabriel</h4>
        </div>
        <div class="footer_infos">
            <p>Sobre nós</p>
            <a href="sobre.nos.html#historia">Nossa história</a>
            <a href="sobre.nos.html#faq">Perguntas frequentes</a>
            <a href="sobre.nos.html#suporte">Suporte</a>
        </div>
        <div class="footer_infos">
            <p>Nossos contatos</p>
            <a href=""><img class="footer_icones" src="../images/instagram.png" alt=""> @amora</a>
            <a href=""><img class="footer_icones" src="../images/telefone.png" alt=""> 0800 000 0000</a>
            <a href=""><img class="footer_icones" src="../images/e-mail.png" alt=""> contato@amora.com</a>
        </div>
    </footer>
</body>
</html>