<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós Amora</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body class="venda_produto">
     <header class="container_header">
        <a href="home.html"><img class="logo" src="../images/logo transparente.png" alt="logo"></a>
        <div class="header_menu_opcoes">
            <a href="home.html">Home</a>
            <a href="produto_classic.html">Classic</a>
            <a href="produto_gourmet.html">Gourmet</a>
            <a href="produto_diet.html">Diet</a>
        </div><!---->
        <div class="header_menu_busca">
            <input type="text" name="pesquisar" placeholder="O que está procurando?">
            <a href=""><img class="header_icones" src="../images/lupa.png" alt="Pesquisar"></a>
            <a href=""><img class="header_icones" src="../images/carrinho-de-compras.png" alt="Carrinho de compras"></a>
        </div>
    </header>
    <main class="container_main_venda_produto">
        <div>
            <div>
                <h1 class="main_venda_title_venda_produto">Geleias Diet</h1>
                <hr>
                    <img class="img_amora" src="../images/img_diet_jabuticaba.png" alt="Geleia de Jabuticaba">
                <hr>
            </div>
            <p class="title_descricao">Geleia de Jabuticaba - Diet</p>
            <p class="avaliacao">⭐⭐⭐⭐⭐ (34 avaliações)</p>
            <p class="descricao">
                Geleia artesanal feita com jabuticabas selecionadas.
                Sem conservantes e preparada com receita tradicional.
                Perfeita para pães, torradas e sobremesas.
            </p>
            <hr>
            <ul class="detalhes">
                <p><b>Detalhes:</b></p>
                <li>✔ Produto artesanal</li>
                <li>✔ Sem conservantes</li>
                <li>✔ Peso: 300g</li>
                <li>✔ Produção própria</li>
            </ul>
        </div>
        <div class="main_venda_preço">
            <h1 class="preco">R$ 20,00</h1>
            <p class="quantidade_estoque"><b>Estoque Disponivel:</b> 20 Unidades</p>
            <div class="main_venda_quantidade">
                <label class="label_quantidade"><b>Quantidade: </b></label>
                <input class="input_quantidade" type="number" value="1" min="1">
            </div>
            <button class="comprar">Comprar agora</button>
            <button class="carrinho">Adicionar ao carrinho</button>
            <div class="frete">
                <label class="label_frete">Calcular frete e prazo</label>
                <input class="input_cep" type="text" placeholder="Digite seu CEP">
                <button class="btn_frete">OK</button>
                <hr>
                <img src="../images/Etiqueta_segurança.png" alt="Garantia ">
                <img src="../images/Etiqueta_qualidade.png" alt="Qualidade ">
                <img src="../images/Etiqueta_desconto.png" alt="Desconto">
            </div>      
        </div> 
    </main>  
    <footer class="container_footer">
        <div class="footer_creditos">
            <h3>© 2026 Amora. Direitos reservados.</h3>
            <br>
            <h4>Desenvolvido por Michele e Gabriel</h4>
        </div>
        <div class="footer_infos">
            <p>Sobre nós</p>
            <a href="sobre.nos.html#historia">Nossa história</a>
            <a href="sobre.nos.html#faq">Perguntas frequentes</a>
            <a href="sobre.nos.html#suporte">Suporte</a>
        </div>
        <div class="footer_infos">
            <p>Nossos contatos</p>
            <a href=""><img class="footer_icones" src="../images/instagram.png" alt=""> @amora</a>
            <a href=""><img class="footer_icones" src="../images/telefone.png" alt=""> 0800 000 0000</a>
            <a href=""><img class="footer_icones" src="../images/e-mail.png" alt=""> contato@amora.com</a>
        </div>
    </footer>
</body>
</html>